In [1]:
import numpy as np
import pandas as pd

In [2]:
rainfall=pd.read_csv(r'../data/processedfiles/output-new.csv')

In [3]:
rainfall=rainfall.astype(str)

In [4]:
rainfall=rainfall.replace(to_replace='-',value='-1')

rainfall=rainfall.replace(to_replace=r'\.\.',value='.',regex=True)

rainfall=rainfall.replace(to_replace=r'([a-zA-Z])',value='',regex=True)

rainfall=rainfall.replace(to_replace=r'(\s+)',value='',regex=True)

rainfall=rainfall.replace(to_replace='',value='-1')

rainfall=rainfall.replace(to_replace=np.NaN,value='-1')

rainfall=rainfall.fillna('-1')

In [ ]:
import datetime
rain_df['date']=rain_df.apply(lambda x:(datetime.datetime(int(x['year']),1,1)+datetime.timedelta(days=int(x['day-number']-1))).strftime('%d/%m/%Y'),axis=1)
rain_df['date']=pd.to_datetime(rain_df['date'])
col=['year','day-number','date']
col.extend(list(rain_df.columns[2:1978]))
rain_df=rain_df[col]

In [6]:
rainfall.head(10)

,year,day-number,date,jalore-jalore,sanchore-jalore,jaswantpura-jalore,bhinmal-jalore,ahore-jalore,bankli *-jalore,bhadragoan *-jalore,...,KALINGRA,LOHARIYA,KALINJJRA,PILANI (IMD),NAWALGARH,MALSESAR,BUHANA,BHUHANA,MALSISAR,MALISAR
0,1957,1,1957-01-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
1,1957,2,1957-02-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
2,1957,3,1957-03-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
3,1957,4,1957-04-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
4,1957,5,1957-05-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
5,1957,6,1957-06-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
6,1957,7,1957-07-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
7,1957,8,1957-08-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1
8,1957,9,1957-09-01,-1,-1,-1,-1,-1,-1,-1,...,-1,6.3,0.0,-1,-1,-1,-1,-1,-1,-1
9,1957,10,1957-10-01,-1,-1,-1,-1,-1,-1,-1,...,-1,0.0,0.0,-1,-1,-1,-1,-1,-1,-1

In [7]:
rainfall.to_csv(r'../data/processedfiles/output-new.csv',index=False)